In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn import datasets
#imports

In [2]:
names = ["height","lenght","area","eccen","p_black","p_and","mean_tr","blackpix","blackand","wb_trans","classe"]
data = "page-blocks.data"
df = pd.read_fwf(data, names = names)
df
#1=text 2=Horizontal line 3=Picture 4=Vertical line 5=Graphic

,height,lenght,area,eccen,p_black,p_and,mean_tr,blackpix,blackand,wb_trans,classe
0,5,7,35,1.400,0.400,0.657,2.33,14,23,6,1
1,6,7,42,1.167,0.429,0.881,3.60,18,37,5,1
2,6,18,108,3.000,0.287,0.741,4.43,31,80,7,1
3,5,7,35,1.400,0.371,0.743,4.33,13,26,3,1
4,6,3,18,0.500,0.500,0.944,2.25,9,17,4,1
...,...,...,...,...,...,...,...,...,...,...,...
5468,4,524,2096,131.000,0.542,0.603,40.57,136,264,28,2
5469,7,4,28,0.571,0.714,0.929,10.00,20,26,2,1
5470,6,95,570,15.833,0.300,0.911,1.64,171,519,104,1
5471,7,41,287,5.857,0.213,0.801,1.36,61,230,45,1
5472,8,1,8,0.125,1.000,1.000,8.00,8,8,1,4

In [25]:
df[["height","lenght"]]

      height  lenght
0          5       7
1          6       7
2          6      18
3          5       7
4          6       3
...      ...     ...
5468       4     524
5469       7       4
5470       6      95
5471       7      41
5472       8       1

[5473 rows x 2 columns]

In [28]:
X = df[["height","lenght","area"]] #si tu veux rajouter ou supprimer des variables c'est ici!
Y = df[["height","lenght","area"]]
# Fait correspondre l'index des donnÃ©es X avec celles de Y
assert(sum(Y.index == X.index) == Y.shape[0])

In [27]:
X

      height  lenght
0          5       7
1          6       7
2          6      18
3          5       7
4          6       3
...      ...     ...
5468       4     524
5469       7       4
5470       6      95
5471       7      41
5472       8       1

[5473 rows x 2 columns]

In [29]:
# Statistiques descriptives
# Nombre de row, de variable, nb de modalitÃ© de la variable Ã¢ge
# Moyenne, Ã©cart type, quartiles, dÃ©ciles

for data in [Y]:
    title = "Number of rows and columns"
    print ("% 35s : %s rows, %s columns "%(title, data.shape[0], data.shape[1]))
    title = "Number of categorical variables"
    print ("% 35s : 1 variable, and 10 modalities"%title)

         Number of rows and columns : 5473 rows, 3 columns
    Number of categorical variables : 1 variable, and 10 modalities

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33)

In [31]:
#catÃ©gories de blocs
text = df[df.classe == 1]
hor = df[df.classe == 2]
pic = df[df.classe == 3]
ver = df[df.classe == 4]
graph = df[df.classe == 5]
print("Il y a {ntext} Textes, {nhor} blocs horizontaux, {npic} images, {nver} blocs verticaux, {ngraph} graphiques".format(ntext=len(text),nhor = len(hor),npic = len(pic),nver = len(ver),ngraph = len(graph)))

Il y a 4913 Textes, 329 blocs horizontaux, 28 images, 88 blocs verticaux, 115 graphiques

In [32]:
# Ajout d'une colonne, on rajoute ici les catÃ©gories de blocs
values = []
for x in df.classe:
    if x == 1:
        values.append("Text")
    elif x == 2:
        values.append("Horizontal_Line")
    elif x == 3:
        values.append("Picture")
    elif x == 4:
        values.append("Vertical_Line")
    elif x == 5:
        values.append("Graphic")
df["CatÃ©gorie_bloc"] = values
df

,height,lenght,area,eccen,p_black,p_and,mean_tr,blackpix,blackand,wb_trans,classe,CatÃ©gorie_bloc
0,5,7,35,1.400,0.400,0.657,2.33,14,23,6,1,Text
1,6,7,42,1.167,0.429,0.881,3.60,18,37,5,1,Text
2,6,18,108,3.000,0.287,0.741,4.43,31,80,7,1,Text
3,5,7,35,1.400,0.371,0.743,4.33,13,26,3,1,Text
4,6,3,18,0.500,0.500,0.944,2.25,9,17,4,1,Text
...,...,...,...,...,...,...,...,...,...,...,...,...
5468,4,524,2096,131.000,0.542,0.603,40.57,136,264,28,2,Horizontal_Line
5469,7,4,28,0.571,0.714,0.929,10.00,20,26,2,1,Text
5470,6,95,570,15.833,0.300,0.911,1.64,171,519,104,1,Text
5471,7,41,287,5.857,0.213,0.801,1.36,61,230,45,1,Text
5472,8,1,8,0.125,1.000,1.000,8.00,8,8,1,4,Vertical_Line

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)                 # Il ne faut fiter que sur les data d'entrainement
X_train = scaler.transform(X_train)
X_test  = scaler.transform(X_test)  # apply same transformation to test data

In [36]:
X_test

array([[-0.08437178,  0.28802965,  0.12136969],
       [-0.86913029, -0.63432944, -0.6177068 ],
       [-0.08437178, -0.53770135, -0.46243863],
       ...,
       [ 0.02773657, -0.71338879, -0.58044244],
       [-0.3085885 , -0.52891698, -0.49763274],
       [-0.19648014, -0.5201326 , -0.47140968]])